<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kasiengao.ksgframe">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".app.KsgApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ksg"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="n">

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.trainee.mvp.MvpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.mvvm.MvvmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.retrofit.RxRetrofitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.staggered.StaggeredGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ShareElementAppTheme" />
        <activity
            android:name=".ui.trainee.element.ShareElementActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ShareElementAppTheme" />
        <activity
            android:name=".ui.trainee.player.PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.grid.TouchGridActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.gesture.GestureActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.canvas.CanvasActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.trainee.loadpage.LoadPageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>
</manifest>